*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: lemonchiffon;
    border-radius: 15px;
}

.menubar{
    display: flex;
    gap: 50px;
    padding-top: 25px;
    
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu{
    background: blue;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-family: Arial;
    cursor: pointer;
    color: white;
    

}

.menu:hover{
    background: blue;
    color: white;
    box-shadow: black 0.1rem 0.1rem 0.5rem 0.1rem;
    transition: opacity 0.15s;
}

.logo{
    color: blue;
}

.logo img{
    width: 100px;
    height: 100px;
    border-radius: 45px;
    box-shadow: black 1rem 0;
}

.content{
    height: 100vh;
    color: white;
    background: url(./images/Fundo\ de\ escritório\ desfocado\ escritório….jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-content: center;
}

.btxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20rem;
}

.itxt{
    font-size: 4rem;
    margin-left: 20rem;
}

.stxt{
    font-size: 8rem;
    margin-right: 20rem;
}

.cbtn{
    width: 15rem;
    height: 4rem;
    margin-left: 35rem;
    border-radius: 0.5rem;
    border: 1rem ;
    font-size: 2rem;
    font-weight: 50rem;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: blue;
    color: white;
}

.cbtn a{
    text-decoration: none;
    color: white;
}

.cbtn:hover{
    cursor: pointer;
    background: blue;
    color: white;
    box-shadow: rgba(0, 0, 255, 0.226) 0rem 0.1rem 0.5rem 0.5rem;
}

.services{
    align-items: center;
    background-color: white;
    height: 60rem;
    padding: 5rem;

}

.hserv{
    text-align: center;
}

.sec{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 5rem;
    margin-left: 10rem;
    align-self: center;
}

.omo{
    align-items: center;
    width: 20rem;
    height: 20rem;
    background: #333;
}

.omo-o{
    display: flex;
    flex-direction: column;
    background: black;
    width: 25rem;
    height: 30rem;
    padding: 2rem;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 255, 0.226) 0rem 0.1rem 0.5rem 0.5rem;
}

.omo-o:hover{
    /* width: 25rem;
    height: 20rem;
    padding-top: 7rem;
    padding-left: 10rem;
    border-radius: 45px; */
    background: rgb(56, 56, 56);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.226) 0rem 0.1rem 0.5rem 0.5rem;
}

.omo-o h2{
    text-align: center;
    color: white;
    font-size: 2rem;
}

.omo-o h1{
    text-align: center;
    color: white;
    font-size: 6rem;
}

.brk2{
    background: white;
    width: 25rem;
    height: 3px;
    border-radius: 45px;
}

.rtxt2 p{
    color: white;
    font-size: 1rem;
}

.subbtn button{
    width: 25rem;
    height: 2.5rem;
    background: rgb(0, 0, 255);
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.subbtn button:hover{
    background: linen;
    color: black;
    box-shadow: rgba(0, 0, 255, 0.226) 0rem 0.1rem 0.5rem 0.5rem;
}

.omo img{
    margin-left: 7rem;
    background: black;
    border-radius: 30px;
    border: solid black;
}

.omo h3{
    margin-left: 6rem;
}

.teamsection{
    height: 50rem;
}

.sstxt{
    text-align: center;
    margin-bottom: 5rem;
}

.sstxt h1{
    font-size: 3rem;
}

.tpic{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 10rem;
}

.ttpic{
    /* background: blue; */
    justify-content: center;
}

.ttpic img{
    width: 10rem;
    height: 10rem;
    border-radius: 30rem;
}
.ttpic span{
    margin-left: 0.3rem;
}

.ttpic:hover{
    width: 20rem;
    height: 20rem;
    padding-top: 7rem;
    padding-left: 10rem;
    border-radius: 45px;
    box-shadow: rgba(0, 0, 255, 0.226) 0rem 0.1rem 0.5rem 0.5rem;
}

.container5{
    display: flex;
    background: blue;
    height: 700px;
}


.ltxt{
   height: 100px;
   padding-top: 40px;
   /* background: pink; */
   color: white;
}

.ltxt h1{
    text-align: center;
}

.label-text{
    font-size: larger;
    color: white;
}

form{
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    margin-left: 600px;
}

.omo2{
    background: white;
    width: 600px;
    height: 80px;
    border: solid white 1px;

}

.typeshii{
    height: 300px;
    width: 600px;
}

#btnn{
    width: 200px;
    height: 60px;
    font-size: 40px;
    font-weight: 65px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 400px;
    background: red;
    border: solid red 1px;
    color: white;
    cursor: pointer;
}

#btnn:hover{
    background:  blueviolet;
    color: white;
    border: solid blueviolet 1px;
}

.logos2{
    margin-left: 10px;
    gap: 20px;
    display: flex;
}

/* .logo-c img:hover{
    background: none;
    box-shadow: rgb(255, 255, 255) 0rem 0.1rem 0.5rem 0.5rem;
} */

.container6{
    height: 70px;
    padding-top: 50px;
    background: #333;
}

.lastly{
    color: lightgray;
    text-align: center;
}

.lastly a{
    text-decoration: none;
}
.lastly a:hover{
    text-decoration: underline;
    color: red;
}

.acont{
    background: white;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    height: 50rem;
    padding: 5rem;
    justify-content: space-between;
}

.pic img{
    width: 40rem;
    height: 40rem;
    border-radius: 3rem;
}

.ctxt{
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.abt{
    font-size: 3rem;
    color: blue;
}

.abt2{
    font-size: 2rem;
}

.context{
    color: grey;
}

.brk{
    background: black;
    width: 50rem;
    height: 3px;
    border-radius: 45px;
} 

.num{
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

.ntxt h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ntxt span{
    color: grey;
}

.pic img{
    border-radius: 0px 45px 45px 45px;
    box-shadow: rgba(0, 0, 255, 0.226) 0rem 0.1rem 0.5rem 0.5rem;
}

.acont2{
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    height: 50rem;
    padding: 5rem;
    justify-content: space-between;
    background: lavender;
}

.arrow{
   display:grid;
   grid-template-columns: repeat(minmax(100px, 2fr))
}

.rtxt{
    display: flex;
}

.rtxt img{
    width: 1.5rem;
    height: 1.5rem;
}

.rtxt p{
    font-size: 1.5rem;
    color: blue;
}

@media (max-width: 1024px) {
    .stxt { font-size: 3rem; }
    .itxt { font-size: 2rem; }
}

@media (max-width: 768px) {
    .sec, .tpic, .acont, .acont2 {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .menu { font-size: 0.8rem; padding: 5px 10px; }
    .stxt { font-size: 2rem; }
    .itxt { font-size: 1.5rem; }
}